<% layout("./layouts/boilerplate.ejs") %>

<main class="show-page ">
  <h3 class="mb-4">Listing Details</h3>

  <div class="show-card card">
    <img
      src="<%= listing.image.url %>"
      class="card-img-top show-img"
      alt="listing-image"
    />

    <div class="card-body">
      <h5 class="card-title fw-bold"><%= listing.title %></h5>

      <p class="card-text">
        <%= listing.description %><br>
        &#36;<%= listing.price.toLocaleString("en-PK") %><br>
        <%= listing.location %><br>
        <%= listing.country %>
      </p>

    <div class="show-actions">
  <a href="/listings/<%= listing._id %>/edit" class="btn btn-outline-dark">
    Edit
  </a>

  <form action="/listings/<%= listing._id %>?_method=DELETE" method="post">
    <button class="btn btn-danger">Delete</button>
  </form>
</div>

    </div>
  </div>
</main>
