<% layout("./layouts/boilerplate.ejs") %>

<main class="show-page">
  <h3 class="mb-4"><%= listing.title %></h3>

  <div class="show-card card">
    <img
      src="<%= listing.image.url %>"
      class="card-img-top show-img"
      alt="listing-image"
    />

    <div class="card-body">
      <p class="card-text mt-3">
        <p>Owned by <i><u><%= listing.owner.username %></i></u></p>
        <p><%= listing.description %></p>
        <p>&#36;<%= listing.price.toLocaleString("en-PK") %></p>
        <p> <%= listing.location %></p>
       <p><%= listing.country %></p>

      </p>


      <div class="show-actions">
      <% if(currUser && listing.owner._id.equals(currUser._id) ){ %>

        <a
          href="/listings/<%= listing._id %>/edit"
          class="btn btn-outline-dark"
        >
          Edit
        </a>

        <form
          action="/listings/<%= listing._id %>?_method=DELETE"
          method="post"
        >
          <button class="btn btn-danger">Delete</button>
        </form>
          <% } %>
      </div>
    </div>
    <br>
    <hr>
  </div>
  

</main>
<div class="col-8 offset-2 mb-3">
  <% if(currUser){ %>
  <h3 class="mb-3">Leave a rating:</h3>
  <form
    action="/listings/<%= listing._id %>/reviews"
    method="post"
    novalidate
    class="needs-validation"
  >
    <div class="mb-3">
      <label for="rating" class="form-label" id="rating">Rating</label>
      <input
        type="range"
        class="form-range"
        min="1"
        max="5"
        id="rating"
        name="review[rating]"
      />
    </div>
    <div class="mb-3">
      <label class="form-label" for="comment" id="comment">Comments</label>
      <textarea
        name="review[comment]"
        id="comment"
        class="form-control"
        required
      ></textarea>
      <div class="invalid-feedback">Please enter a comment for review</div>
    </div>
    <button class="btn btn-outline-dark mt-2">Submit</button>
  </form>
   <br />
  <hr>
  <% } %>
  

</div>
<br />

<div class="col-8 offset-1 mb-3 ml-2 mr-2 mt-2">
  <p><b>All reviews:</b></p>
  <div class="row ">
    <% for(review of listing.reviews) {%>
    <div class="card col-5 mb-3 ms-3 review-card">
      <div class="card-body">
        <h5 class="card-title">@<%= review.author.username %></h5>
        <p class="card-text"><%= review.comment %></p>
        <p class="card-text"><%= review.rating %> stars</p>
        <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"  method="post" class="mb-3">
          <button class="btn btn-sm btn-dark">Delete Review</button>
        </form>
      </div>
    </div>
    <%} %>
  </div>
</div>
